/* --- CSS for This Template --- */
.pendo-sb-title-holder {
    display: flex;
    justify-content: center;
    align-items: center;
}
.pendo-sb-title-holder img {
    max-height: 60px;
    margin-right: 20px;
    display: inline-block;
}
.pendo-sb-title-holder h1 {
    color: #00ADEE;
    font-size: 24px;
    line-height: 32px;
    margin: 5px 0 0 0;

    height: auto;
    display: inline-block;
}

p {
    color: #394754;
    font-size: 16px;
    line-height: 24px;
    margin-top: 15px;
    margin-bottom: 30px;
}

._pendo-sb-image_ {

}

._pendo-sb-video_ {
    width: 100%;
    height: 315px;
}

/* --- Selectors from Global CSS --- */
._pendo-guide-container_ {
    /* -- Guide border, shadow, background, etc. -- */
    background-color: white;
    padding: 50px;
    color: #999;
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
}

#_pendo-close-guide_ {
    font-family: 'Roboto', sans-serif;
    color: #D8D8D8;
}

#_pendo-close-guide_:hover {
    color: #999;
}

._pendo-guide-container_ ._pendo-guide-content_ {
    /* -- Content area -- use for font attributes, padding, etc. */
    text-align: left;
    padding: 0;
}

._pendo-guide-container_ ._pendo-close-guide_ {
    /* Close guide icon */
    display: inline !important;
    font-size: 28px;
    font-weight: 100;
    top: 12px;
    right: 22px;
    color: #ccc;
}

._pendo-guide-container_ ._pendo-close-guide_:hover {
    /* Close guide icon hover effects*/
    color: #999;
}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.button-container .btn {
    width: 150px;
    height: 42px;
    margin-right: 13px;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 400;
    line-height: 120%;
    cursor: pointer;
    margin: 40px 20px 0px 20px;
}

.btn.btn-primary {
    background-color: #00AAEF;
    border: none;
    color: #fff;
}

.btn.btn-primary:hover {
    background-color: #3abdf2;
}

.btn.btn-secondary {
    background-color: transparent;
    border: .5px solid #9a9ca5;
    color: #9a9ca5;
}

.btn.btn-secondary:hover {
    color: #3a3c45;
    border: .5px solid #6a6c75;
}
