<div align="center">
    <% if (root.template.image.url) { %>
    <img class="_pendo-sb-image_" pendo-src="<%= root.template.image.url %>" />
    <% } %>

    <% if (root.template.video) { %>
    <iframe class="_pendo-sb-video_" src="https://youtube.com/embed/<%= root.template.video %>" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    <% } %>

    <div class="pendo-sb-title-holder">
        <img pendo-src="<%= root.template.icon.url %>" />
        <h1>
            <%= root.template.title %>
        </h1>
    </div>
</div>

<div align="left">
    <p>
        <%= root.template.subtext %>
    </p>
</div>

<div class="button-container">
    <% if (root.template.btnDismiss) { %>
    <button class="_pendo-guide-dismiss_ _pendo-sb-btn_ _pendo-sb-btn-blue_"><%= root.template.btnDismiss %></button>
    <% } %>
    <% if (root.template.btnNext) { %>
    <button class="_pendo-guide-next_ _pendo-sb-btn_ _pendo-sb-btn-blue_"><%= root.template.btnNext %></button>
    <% } %>
    <% if (root.template.btnOnboarding) { %>
    <button class="_pendo-guide-show-onboarding_ _pendo-sb-btn_ _pendo-sb-btn-blue_"><%= root.template.btnOnboarding %></button>
    <% } %>
</div>