
/* --- CSS for This Template --- */
._pendo-sb-banner_ {
    height: 19px;
    color: #79BCD5;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
}

._pendo-sb-banner_ strong {
    font-weight: 700;
}

/* --- Selectors from Global CSS --- */

._pendo-guide-container_ {
    /* Guide border, shadow, background, etc. */
    background-color: #EAF7FC;
    padding: 20px;
    border-bottom: 6px solid #C9E6F1;
    line-height: 140%;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

._pendo-guide-container_ ._pendo-guide-content_ {
    /* Content area: use for font attributes, padding, etc. */
    text-align: center;
    padding: 0;
    color: #31708f;
    font-size:14px;
}

._pendo-guide-container_ ._pendo-close-guide_ {
    /* Close guide icon */
    display: inline;
    font-size: 26px;
    font-weight: 100;
    top: 10px;
    right: 15px;
    color: #31708f;
    opacity: 0.6;
}

._pendo-guide-container_ ._pendo-close-guide_:hover {
    /* Close guide icon hover effects*/
    opacity: 0.4;
} 
