<div class="_pendo-launcher-header_" color:>
    <div class="_pendo-launcher-title_">
        <%= root.data.title %>
    </div>
    <% if (root.data.enableSearch) { %>
    <form class="_pendo-launcher-search-box_">
        <label for="_pendo-launcher-search-input_" class="_pendo-launcher-search-icon_"></label>
        <input id="_pendo-launcher-search-input_" type="text" placeholder="Search..." autocomplete="off" />
        <button type="button" class="_pendo-launcher-clear-search-icon_"></button>
    </form>
    <% } %>
</div>
<% if (root.data.enableSearch) { %>
<div class="_pendo-launcher-search-results_">
    <div class="_pendo-launcher-search-results-header_">
        <h4 class="_pendo-launcher-search-results-header-title_"> SEARCH RESULTS </h4>
        <button class="_pendo-launcher-clear-search_">Clear</button>
    </div>
    <div class="_pendo-launcher-search-results-list_">
        <% if (!root.guides.length) { %>
        <div class="_pendo-launcher-search-results-container_ _pendo-launcher-search-empty_">
            <h4>No matches found for '
                <%= root.data.search.text %>'</h4>
            <p>Try searching a different keyword or check the spelling of your current entry.</p>
        </div>
        <% } %>
        <% if (pendo._.chain(root.guides).invoke('isHelpGuide').filter().value().length) { %>
        <div class="_pendo-launcher-search-results-container_">
            <div class="_pendo-launcher-search-results-section-header_">
                <%= root.data.knowledgebase.title %>
            </div>
            <ul>
                <% pendo._.each(root.guides, function(guide) { %>
                <% if (guide.isHelpGuide()) { %>
                <li class="_pendo-launcher-item_" id="launcher-<%= guide.id %>">
                    <a href="javascript:void(0);">
                        <%= root.data.search.highlight(guide.name) %>
                    </a>
                </li>
                <% } %>
                <% }) %>
            </ul>
        </div>
        <% } %>
        <% if (pendo._.chain(root.guides).invoke('isWhatsNew').filter().value().length) { %>
        <div class="_pendo-launcher-search-results-container_">
            <div class="_pendo-launcher-search-results-section-header_">
                <%= root.data.whatsnew.title %>
            </div>
            <ul>
                <% pendo._.each(root.guides, function(guide) { %>
                <% if (guide.isWhatsNew()) { %>
                <li class="_pendo-launcher-item_ _pendo-launcher-whatsnew-item_" id="<%= guide.id %>">
                    <a href="javascript:void(0);">
                        <%= root.data.search.highlight(guide.name) %>
                    </a>
                </li>
                <% } %>
                <% }) %>
            </ul>
        </div>
        <% } %>
        <% if (pendo._.chain(root.guides).invoke('isOnboarding').filter().value().length) { %>
        <div class="_pendo-launcher-search-results-container_">
            <div class="_pendo-launcher-search-results-section-header_">
                <%= root.data.onboarding.title %>
            </div>
            <ul>
                <% pendo._.each(root.guides, function(guide) { %>
                <% if (guide.isOnboarding()) { %>
                <li class="_pendo-launcher-item_" id="launcher-<%= guide.id %>">
                    <a href="javascript:void(0);">
                        <%= root.data.search.highlight(guide.name) %>
                    </a>
                </li>
                <% } %>
                <% }) %>
            </ul>
        </div>
        <% } %>
    </div>
    <div class="_pendo-launcher-search-display_">
        <div class="_pendo-launcher-search-header_">
            <button class="_pendo-launcher-search-display-return_">
                <span>Back to Search Results</span>
            </button>
            <div class="_pendo-launcher-search-breadcrumbs_">
                <h4 class="_pendo-launcher-search-breadcrumbs-title_"> </h4>
            </div>
        </div>
    </div>
</div>
<% } %>