<!-- Chat -->
<div class=" _pendo-launcher-menu-item_ _sb-none_" data-id="chat">
    <button class="_pendo-launcher-menu-item-button_">
        <div class="_pendo-launcher-menu-item-title_"> Live Chat </div>
    </button>
</div>
    