<div class="_pendo-launcher-section-content_" data-id="supportticket">
    <div class="_pendo-launcher-section-header_">
        <div class="_pendo-launcher-section-title_">
            Submit Support Ticket
        </div>
        <button class="_pendo-launcher-section-back-button_" aria-label="back to menu"></button>
    </div>
    <div class="_pendo-launcher-section-body_">
        <div class="_pendo-launcher-guide-listing_">
            <form accept-charset="UTF-8" class="_pendo-contact-form_" enctype="multipart/form-data" method="post"
                action="#">
                <div class="_pendo-contact-form__notifications_"></div>
                <div class="_pendo-contact-form__container_">
                    <input class="_pendo-contact-form__input_" id="email" name="email" type="text" placeholder="Email"
                        required autocomplete="off" tabindex="1">
                </div>
                <div class="_pendo-contact-form__container_">
                    <input class="_pendo-contact-form__input_" id="subject" name="subject" type="subject" placeholder="Subject"
                        autocomplete="off" tabindex="2">
                </div>
                <div class="_pendo-contact-form__container_">
                    <textarea class="_pendo-contact-form__textarea_" name="body" placeholder="Message" required
                        autocomplete="off" tabindex="3"></textarea>
                </div>
                <div class="_pendo-contact-form__container_">
                    <div class="_pendo-contact-form__drop-zone_">
                        <div class="_pendo-contact-form__drop-zone-text_">
                            <p>Drag &amp; drop a file to attach it, or
                            </p>
                            <a href="#" class="link" data-pendo-drop-zone-trigger>
                                <strong>Browse for a file</strong>
                            </a>
                        </div>
                        <input type="file" id="image_upload" name="images[]" accept="image/*;capture=camera"
                            data-pendo-drop-zone-input multiple>
                        <input type="hidden" name="uploads">
                    </div>
                </div>
                <div class="_pendo-contact-form__container_">
                    <button class="_pendo-contact-form__submit_" id="submit" type="submit" value="submit">Submit Ticket</button>
                </div>
            </form>
        </div>
    </div>
</div>
