<div class="_pendo-launcher-menu-item_" data-id="supportticket">
    <button class="_pendo-launcher-menu-item-button_">
        <div class="_pendo-launcher-menu-item-title_">
            Submit Support Ticket
        </div>
    </button>
</div>