<% if (typeof root.onboarding !== 'undefined') { %>
<div class="_pendo-launcher-section-content_" data-id="onboarding">
    <div class="_pendo-launcher-section-header_">
        <div class="_pendo-launcher-section-title_">
                Quick Start Checklist
        </div>
        <button class="_pendo-launcher-section-back-button_" aria-label="back to menu"></button>
    </div>
    <div class="_pendo-launcher-section-body_">
        <div class="_pendo-launcher-guide-listing_">
            <% pendo._.each(root.guides, function(guide) { %>
            <% if (guide.isOnboarding()) { %>
            <div class="_pendo-launcher-item_ _pendo-onboarding-item_ _pendo-onboarding-item-status-<%= root.guideStatus(guide) %>_"
                id="launcher-<%= guide.id %>">
                <% if (root.guideStatus(guide) === 'not-started') { %>
                <svg class="_pendo-launcher-onboarding-item-status-svg_" viewBox="0 0 400 400" xmlns="http://www.w3.org/2000/svg">
                    <circle class="_pendo-launcher-onboarding-item-status-svg-background_" cx="100" cy="100" r="100"
                        transform="translate(10 100)" stroke-width="20" fill="none" stroke-linecap="round"
                        stroke-linejoin="round" />
                </svg>
                <% } %>
                <% if (guide.isMultiStep && root.guideStatus(guide) === 'in-progress') { %>
                <svg class="_pendo-launcher-onboarding-item-status-svg_" viewBox="0 0 400 400" xmlns="http://www.w3.org/2000/svg">
                    <g stroke-width="20" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round"
                        transform="translate(10 100)">
                        <circle class="_pendo-launcher-onboarding-item-status-svg-background_" cx="100" cy="100"
                            r="100" />
                        <circle class="_pendo-launcher-onboarding-item-status-svg-progress_" transform="rotate(-90 100 100)"
                            stroke-dashoffset="<%= root.guideProgress(guide) %>" cx="100" cy="100" r="100" />
                    </g>
                </svg>
                <% } %>
                <% if (root.guideStatus(guide) === 'complete') { %>
                <svg class="_pendo-launcher-onboarding-item-status-svg_" viewBox="0 0 400 400" xmlns="http://www.w3.org/2000/svg">
                    <g class="_pendo-launcher-onboarding-item-status-svg-complete_" stroke-width="20" fill="none"
                        fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
                        <path d="M209 191.34v9.16a99.5 99.5 0 1 1-59-90.95" />
                        <path d="M209 120.9l-99.5 99.6-29.85-29.85" />
                    </g>
                </svg>
                <% } %>
                <a href="javascript:void(0);">
                    <%= guide.name %>
                </a>
                <% if (guide.isMultiStep && root.guideStatus(guide) === 'in-progress') { %>
                <div class="_pendo-onboarding-item-progress_">
                    Task in Progress (Step
                    <%= guide.getSeenSteps() %> of
                    <%= guide.getTotalSteps() %>)
                </div>
                <% } %>
            </div>
            <% } %>
            <% }) %>
        </div>
    </div>
    <div class="_pendo-launcher-section-footer_">
        <div class="_pendo-launcher-onboarding-progress_">
            <div class="_pendo-launcher-onboarding-progress-bar-wrapper_">
                <div class="_pendo-launcher-onboarding-progress-bar-background_">
                    <div class="_pendo-launcher-onboarding-progress-bar-completed_">
                    </div>
                </div>
            </div>
            <label class="_pendo-launcher-onboarding-progress-bar-label_">
                <span></span>% Complete
            </label>
        </div>
    </div>
</div>
<% } %>
