<% if (typeof root.onboarding !== 'undefined') { %>
<div class="_pendo-launcher-menu-item_" data-id="onboarding">
    <button class="_pendo-launcher-menu-item-button_" id="pendo-onboarding">
        <div class="_pendo-launcher-menu-item-title_">
            Quick Start Checklist
        </div>
    </button>
</div>
<% } %>