<% if (pendo._.isFunction(pendo.guideWidget.formatDate)) { %>
    <h3><%= pendo.guideWidget.formatDate(root.guide.showsAfter || root.guide.publishedAt) %></h3>
    <% } %>
    
    <h1><%= root.template.title || root.guide.name %></h1>
    
    <div><%= root.template.content %></div>
    
    
    
    
    