
/* --- CSS (LESS) for This Template --- */

/* Styles scoped to the whole guide */
background-color: #f4f4f7;
border-radius: 3px;
font-size: 14px;
padding: 15px 20px 20px 20px;

&._pendo-guide-whatsnew-seen_ {
    h1::after {
        filter: alpha(opacity=0);
        opacity: 0;
    }

    &.out {
        h1::after {
            -webkit-transition: opacity 1s;
            -moz-transition: opacity 1s;
            -ms-transition: opacity 1s;
            -o-transition: opacity 1s;
            transition: opacity 1s;
        }
    }
}

h3 {
    color: #1A4459;
    margin: 0;
    font-size: 12px;
}

h1 {
    font-weight: bold;
    font-size: 16px;
    position: relative;
    margin: 5px 0;

    &::after {
        content: '';
        position: absolute;
        border: 5px solid #00ADEF;
        border-radius: 5px;
        left: -14px;
        top: 4px;
        opacity: 1;
    }
}
