<!-- HelpCenter -->
<div class=" _pendo-launcher-menu-item_" data-id="helpcenter">
    <button class="_pendo-launcher-menu-item-button_">
        <div class="_pendo-launcher-menu-item-title_"> Documentation </div>
    </button>
</div>