<% if (root.data.whatsnew && root.data.whatsnew.enabled) { %>
<div class="_pendo-launcher-section-content_" data-id="whatsnew">
    <div class="_pendo-launcher-section-header_">
        <div class="_pendo-launcher-section-title_">
            <%= root.data.whatsnew.title %>
        </div>
        <button class="_pendo-launcher-section-back-button_" aria-label="back to menu"></button>
    </div>
    <div class="_pendo-launcher-section-body_">
        <div class="_pendo-launcher-guide-listing_">
            <% pendo._.each(root.data.whatsnew.guides, function(guide) { %>
            <div class="_pendo-launcher-item_" id="launcher-<%= guide.id %>"></div>
            <% }) %>
        </div>
    </div>
</div>
<% } %>