<% if (root.data.whatsnew && root.data.whatsnew.enabled) { %>
<div class="_pendo-launcher-menu-item_" data-id="whatsnew">
    <button class="_pendo-launcher-menu-item-button_">
        <div class="_pendo-launcher-menu-item-title_">
            <%= root.data.whatsnew.title %>
        </div>
        <span class="_pendo-launcher-whatsnew-count_">
            <%= root.data.whatsnew.unseenCount %>
        </span>
    </button>
</div>
<% } %>