<% if (root.data.knowledgebase && root.data.knowledgebase.enabled) { %>
<div class="_pendo-launcher-section-content_" data-id="knowledgebase">
    <div class="_pendo-launcher-section-header_">
        <div class="_pendo-launcher-section-title_">
            <%= root.data.knowledgebase.title %>
        </div>
        <button class="_pendo-launcher-section-back-button_" aria-label="back to menu"></button>
    </div>
    <div class="_pendo-launcher-section-body_">
        <div class="_pendo-launcher-guide-listing_">
            <% pendo._.each(root.guides, function(guide) { %>
            <% if (guide.isHelpGuide()) { %>
            <div class="_pendo-launcher-item_" id="launcher-<%= guide.id %>">
                <a href="javascript:void(0);">
                    <%= guide.name %>
                </a>
            </div>
            <% } %>
            <% }) %>
        </div>
    </div>
</div>
<% } %>
