<% if (root.data.knowledgebase && root.data.knowledgebase.enabled) { %>
<div class="_pendo-launcher-menu-item_" data-id="knowledgebase">
    <button class="_pendo-launcher-menu-item-button_">
        <div class="_pendo-launcher-menu-item-title_">
            <%= root.data.knowledgebase.title %>
        </div>
    </button>
</div>
<% } %>