<div class="_pendo-launcher-section-content_" data-id="phonesupport">
    <div class="_pendo-launcher-section-header_">
        <div class="_pendo-launcher-section-title_">
            Phone Support
        </div>
        <button class="_pendo-launcher-section-back-button_" aria-label="back to menu"></button>
    </div>
    <div class="_pendo-launcher-section-body_">
        <div class="_pendo-launcher-guide-listing_">
            <div class="_pendo-sb-ps-container_">
                    <span>Get in touch with us...</span>
                    <br>
                    <h1 class="_pendo-sb-ps-h2">+1 (800) 345-6789</h1>
                    <br>
                    <span>Hours of Operation</span>
                    <br>
                    <span class="_time--bold">Monday &#8211; Friday</span>
                    <span class="_time">9am &#8211; 5pm CST</span>
                    <span class="_time">Except Holidays</span>
            </div>
        </div>
    </div>
</div>
