<div class="_pendo-launcher-menu-item_ pendo-deep-menu" data-id="phonesupport">
    <button class="_pendo-launcher-menu-item-button_">
        <div class="_pendo-launcher-menu-item-title_">
            Phone Support
        </div>
    </button>
</div>