/* ------------------------------
 * -- Main Global Styling -------
 * ------------------------------ */
._pendo-guide_ {
	/* -- Overarching settings for all guides -- */
	font-family: 'Roboto', sans-serif;
}

._pendo-guide-container_ {
	/* -- Guide border, shadow, background, etc. -- */
	box-shadow: 0 2px 40px 0 rgba(0, 0, 0, 0.24);
}

._pendo-guide-container_ ._pendo-guide-content_ {
	/* -- Content area -- use for font attributes, padding, etc. */
}

/* ------------------------------
   * -- Lightbox Specific Styling -
   * ------------------------------ */
._pendo-guide-lb_ {
	/* -- Overarching settings for Lightbox -- */
}

._pendo-guide-lb_ ._pendo-guide-container_ {
	/* -- Guide border, shadow, background, etc. -- */
}

._pendo-guide-lb_ ._pendo-guide-container_ ._pendo-guide-content_ {
	/* -- Content area -- use for font attributes, padding, etc. */
}

._pendo-backdrop_ {
	/* The backdrop displayed behind lightboxes */
}

._pendo-launcher-whatsnew-count_ {
	background-color: #d82121 color: #fff;
	left: 32px;
	top: 6px;
}

/* ------------------------------
   * -- Tooltip Specific Styling --
   * ------------------------------ */
._pendo-guide-tt_ {
	/* Overarching settings for tooltip */
}

._pendo-guide-tt_ ._pendo-guide-container_ {
	/* -- Guide border, shadow, background, etc. -- */
}

._pendo-guide-tt_ ._pendo-guide-container_ ._pendo-guide-content_ {
	/* -- Content area -- use for font attributes, padding, etc. */
}

/* -- Pointer on the edge of the tooltip -- */
._pendo-guide-arrow_ {}

._pendo-guide-arrow-top_ {}

._pendo-guide-arrow-left_ {}

._pendo-guide-arrow-right_ {}

._pendo-guide-arrow-bottom_ {}

._pendo-guide-arrow-border-top_ {}

._pendo-guide-arrow-border-left_ {}

._pendo-guide-arrow-border-right_ {}

._pendo-guide-arrow-border-bottom_ {}

/* ------------------------------
   * -- Mobile Lightbox Styling ---
   * ------------------------------ */
._pendo-guide-mobile-lb_ {
	/* Overarching settings for Mobile Lightbox */
}

._pendo-guide-mobile-lb_ ._pendo-guide-container_ {
	/* -- Guide border, shadow, background, etc. -- */
}

._pendo-guide-mobile-lb_ ._pendo-guide-container_ ._pendo-guide-content_ {
	/* -- Content area -- use for font attributes, padding, etc. */
}

/* ------------------------------
   * -- Mobile Tooltip Styling ---
   * ------------------------------ */
._pendo-guide-mobile-tt_ {
	/* Overarching settings for mobile tooltip */
}

._pendo-guide-mobile-tt_ ._pendo-guide-container_ {
	/* -- Guide border, shadow, background, etc. -- */
}

._pendo-guide-mobile-tt_ ._pendo-guide-container_ ._pendo-guide-content_ {
	/* -- Content area -- use for font attributes, padding, etc. */
}

/* ------------------------------
   * -- Launcher Styling ----------
   * ------------------------------ */
._pendo-launcher_ {
	/* Overarching settings for Launcher */
	top: 40px !important;
	left: auto !important;
	right: 140px;
}

._pendo-launcher_ ._pendo-guide-container_ {
	/* -- Launcher border, shadow, background, etc. -- */
	/* -- (uses tooltip styles by default) -- */
}

._pendo-launcher_ ._pendo-launcher-content_ {
	/* -- Content area -- use for font attributes, padding, etc. */
}

._pendo-launcher_ ._pendo-launcher-header_ {
	/* -- Launcher header area -- */
}

._pendo-launcher_ ._pendo-launcher-header_ img {
	/* -- Launcher header area image styles -- */
}

._pendo-launcher_ ._pendo-launcher-header_ ._pendo-launcher-title_ {
	/* -- Launcher header area text styles -- */
}

._pendo-launcher_ ._pendo-launcher-header_ ._pendo-launcher-search-box_ {
	/* -- Launcher search area (if enabled) -- */
}

._pendo-launcher_ ._pendo-launcher-header_ ._pendo-launcher-search-box_ input[type='text'] {
	/* -- Launcher search area text box -- */
}

._pendo-launcher_ ._pendo-launcher-guide-listing_ {
	/* -- Launcher guide listing area -- */
}

._pendo-launcher_ ._pendo-launcher-guide-listing_ ._pendo-launcher-item_ {
	/* -- An individual item in the launcher guide listing -- */
}

._pendo-launcher_ ._pendo-launcher-footer_ {
	/* -- Launcher footer area -- */
}

._pendo-launcher-badge_ {
	/* -- Styles for the launcher badge -- */
}

/* -- Styles for launcher badge orientations -- */
._pendo-launcher-badge-bottom-right_ {}

._pendo-launcher-badge-bottom-left_ {}

._pendo-launcher-badge-top-right_ {}

._pendo-launcher-badge-top-left_ {}

/* -- Styles for launcher orientations -- */
._pendo-launcher-bottom-right_ {}

._pendo-launcher-bottom-left_ {}

._pendo-launcher-top-right_ {}

._pendo-launcher-top-left_ {}

/* ------------------------------
   * -- Poll Styling --------------
   * ------------------------------ */
._pendo-guide-container_ ._pendo-poll_ {
	/* -- Poll container -- */
}

._pendo-guide-container_ ._pendo-poll-question_ {
	/* -- Question and answer container (everything but the submit button) -- */
}

._pendo-guide-container_ ._pendo-poll-question-prompt_ {
	/* -- Question text -- */
}

._pendo-guide-container_ ._pendo-poll-question_ label {
	/* -- Number Scale Poll positioning and styles for radio button text and inputs -- */
}

._pendo-guide-container_ ._pendo-poll-question_ select {
	/* -- Dropdown styling -- */
}

._pendo-guide-container_ ._pendo-poll-question_ ._pendo-poll-npsrating-choices_ {
	/* -- NPS Poll ratings container -- */
}

._pendo-guide-container_ ._pendo-poll-question_ ._pendo-poll-npsrating-choices_ label {
	/* -- NPS Poll individual rating - the number scale items -- */
}

._pendo-guide-container_ ._pendo-poll-question_ ._pendo-poll-npsrating-choices_ label span {
	/* -- NPS Poll individual rating - accompanying text for number scale items -- */
}

._pendo-guide-container_ ._pendo-poll-npsreason_ {
	/* -- NPS Poll optional user-provided explanation container -- */
}

._pendo-guide-container_ ._pendo-poll-npsreason_ ._pendo-poll-question-prompt_ {
	/* -- NPS Poll optional user-provided explanation text -- */
}

._pendo-guide-container_ ._pendo-poll-question_ button {
	/* -- Yes/No Poll buttons styles -- */
}

._pendo-guide-container_ ._pendo-poll-submit_ {
	/* -- Submit button styles -- */
}

._pendo-guide-container_ ._pendo-poll-message_ {
	/* -- "Success message" styles -- */
}

/* ------------------------------
   * -- Additional Global Styling -
   * ------------------------------ */
._pendo-close-guide_ {
	/* -- The dismiss guide button displayed in the corner of every guide -- */
}

._pendo-badge_ {
	/* -- Styles for badges -- */
}

/* ------------------------------
   * -- Your Custom Classes/IDs ---
   * ------------------------------ */

._pendo-sb-btn-blue_ {
	color: #fff;
	background-color: #2E6680;
	border: 0;
	font-size: 16px;
	font-weight: 700;
	line-height: 32px;
	padding: 0 14px;
	transition: all 0.3s ease;
}

._pendo-sb-btn-blue_:first-child {
	color: #2E6680;
	background-color: #fff;
}

._pendo-sb-btn-blue_:last-child {
	color: #fff;
	background-color: #2E6680;
}

._pendo-sb-btn-blue_:hover {
	color: #fff;
	background-color: #0e3344;
}

._pendo-sb-btn-blue_:empty {
	display: none;
}

._pendo-sb-btn_ {
	margin-right: 10px;
}

._pendo-sb-btn_:last-child {
	margin-right: 0;
}