<h1><%= root.template.title %></h1>
<% if (root.template.description) { %>
<p><%= root.template.description %></p>
<% } %>
<% if (root.template.step || root.template.stepsof || root.template.btn) { %>
<div class="_pendo-guide-footer_ _pendo-sb-flex_">
    <% if (root.template.step || root.template.stepsof) { %>
    <div class="_pendo-guide-footer--element_">
        <f>Step <%= root.template.step %> of <%= root.template.stepsof %></f>
    </div>
    <% } %>
    <div class="_pendo-guide-footer--element_">
        <div class="_pendo-sb-flex_">
                <% if (root.template.btnBack) { %>
                <button class="_pendo-guide-back_ _pendo-sb-btn_ _pendo-sb-btn-blue_"><%= root.template.btnBack %></button>
                <% } %>
                <% if (root.template.btn) { %>
                <button class="_pendo-guide-next_ _pendo-sb-btn_ _pendo-sb-btn-blue_"><%= root.template.btn %></button>
                <% } %>
        </div>
    </div>
</div>
<% } %>