/* --- CSS for This Template --- */
h1 {
    color: #00ADEE;
    font-size: 24px;
    line-height: 24px;
    margin: 5px 0 0 0;
}

p {
    color: #394754;
    font-size: 16px;
    line-height: 24px;
    margin-top: 15px;
    margin-bottom: 0;
}

f {
    display: inline-block;
    color: #A3A3A3;
    line-height: 30px;
    font-size: 16px;
}

a {
    color: #6994bb;
}

a:hover {
    color: #0b253d;
    text-decoration: underline;
}

._pendo-sb-flex_ {
    display: flex;
    justify-content: space-between;
}

._pendo-guide-footer_ {
    margin-top: 30px;
}

/* --- Selectors from Global CSS --- */
._pendo-guide-container_ {
    /* -- Guide border, shadow, background, etc. -- */
    box-shadow: 0 2px 40px 0 rgba(0,0,0,0.24);
    border-radius: 0;
    background-color: white;
    border: 0;
    padding: 30px;
    color: #666;
    font-size: 14px;
    line-height: 140%;
    font-weight: 300;
}

._pendo-guide-arrow-border_ {
    border: 0;
}

#_pendo-close-guide_ {
    font-family: 'Roboto', sans-serif;
    color: #D8D8D8;
}

#_pendo-close-guide_:hover {
    color: #999;
}

._pendo-guide-container_ ._pendo-guide-content_ {
    /* -- Content area -- use for font attributes, padding, etc. */
    text-align: left;
    padding: 0;
}

._pendo-guide-container_ ._pendo-close-guide_ {
    /* Close guide icon */
    display: inline !important;
    font-size: 28px;
    font-weight: 100;
    top: 6px;
    right: 15px;
    color: #ccc;
}

._pendo-guide-container_ ._pendo-close-guide_:hover {
    /* Close guide icon hover effects*/
    color: #999;
}