<div class="_pendo-launcher-content_" style="border-color:<%= root.data.color %>">
    <div class="_pendo-launcher-main_">
        <%include src="components/header.html"%>

        <div class="_pendo-launcher-menu_">
            <%include src="components/helpcenter/menu.html"%>

            <%include src="components/knowledgebase/menu.html"%>

            <%include src="components/whatsnew/menu.html"%>

            <%include src="components/onboarding/menu.html"%>

            <%include src="components/livechat/menu.html"%>
        </div>
    </div>
    <div class="_pendo-launcher-body_">
        <%include src="components/**/body.html"%>
    </div>
</div>