/* --- Selectors from Global CSS --- */
._pendo-guide-container_ ._pendo-guide-content_ {
    /* Content area: use for font attributes, padding, etc. */
    text-align: center;
    padding: 0;
    color: #333;
}
._pendo-guide-container_ ._pendo-close-guide_ {
    /* Close guide icon */
    display: inline;
    font-size: 26px;
    font-weight: 100;
    top: 10px;
    right: 15px;
    color: #999;
    opacity: 0.6;
}

._pendo-guide-container_ ._pendo-close-guide_:hover {
    /* Close guide icon hover effects*/
    opacity: 0.4;
}

._pendo-poll-npsrating-selected_ {
    ._pendo-poll-npsreason_ {
        ._pendo-poll-question-prompt-detractor_,
        ._pendo-poll-question-prompt-neutral_,
        ._pendo-poll-question-prompt-promoter_ {
            display: none;
            margin-bottom: 10px;
        }
    }

    &._pendo-poll-detractor_,
    &._pendo-poll-neutral_,
    &._pendo-poll-promoter_ {
        ._pendo-poll-npsreason_ {
            ._pendo-poll-question-prompt_ {
                display: none;
            }
        }
    }

    &._pendo-poll-detractor_ {
        ._pendo-poll-npsreason_ {
            ._pendo-poll-question-prompt-detractor_ {
                display: block;
            }
        }
    }

    &._pendo-poll-neutral_ {
        ._pendo-poll-npsreason_ {
            ._pendo-poll-question-prompt-neutral_ {
                display: block;
            }
        }
    }

    &._pendo-poll-promoter_ {
        ._pendo-poll-npsreason_ {
            ._pendo-poll-question-prompt-promoter_ {
                display: block;
            }
        }
    }
}

// Custom
._pendo-guide-container_ {
    width: 1000px;
    bottom: 30px;
    top: auto !important;
    left: 50% !important;
    margin-left: -500px;
    right: auto !important;
    border: 6px solid #B8EAFF;

    background-color: #F6F6F6;
    padding: 15px;
    box-shadow: 0 2px 40px 0 rgba(0,0,0,0.24);
}

._pendo-poll-question-prompt_ {
    color: #838383;
    font-size: 20px;
    // padding: 70px;
    line-height: 24px;
    text-align: center;
}

._pendo-poll-npsrating-choices_ span {
    margin-top: 16px;
    color: #838383;
    font-size: 12px;
    font-style: normal;
    line-height: 14px;
}

._pendo-poll-npsrating-choices_ label {
    height: 32px;
    width: 32px;
    border: 1px solid #00ADEE;
    color: #00ADEE;
    background-color: #FFFFFF;
}

._pendo-poll-npsrating-choices_ input:checked + label {
    color: #fff;
    border: 1px solid #007BA9;
    background-color: #00ADEE;
}


._pendo-poll-npsrating-choices_ label:hover {
    color: #fff;
    background-color: #00ADEE;
}

textarea {
    padding: 15px;
}
