<div class="_pendo-poll_">
        <div class="_pendo-poll-question_ _pendo-poll-npsrating_">
            <div class="_pendo-poll-question-prompt_">How likely are you to recommend us to a friend or coworker?</div>
            <div class="_pendo-poll-npsrating-choices_" contenteditable="false">
                <input id="pendo-poll-choice-0" type="radio" value="0" name="pendo-poll-choice">
                <label for="pendo-poll-choice-0">0<span>Not at all likely</span></label>
                <% for (var i = 1; i < 10; ++i) { %>
                <input id="pendo-poll-choice-<%= i %>" type="radio" value="<%= i %>" name="pendo-poll-choice">
                <label for="pendo-poll-choice-<%= i %>"><%= i %></label>
                <% } %>
                <input id="pendo-poll-choice-10" type="radio" value="10" name="pendo-poll-choice">
                <label for="pendo-poll-choice-10">10<span>Extremely likely</span></label>
            </div>
        </div>
    
        <div class="_pendo-poll-question_ _pendo-poll-npsreason_">
            <div class="_pendo-poll-question-prompt_">Please tell us why you gave this rating:</div>
            <div class="_pendo-poll-question-prompt-detractor_">Can you share any specific feedback about this score?</div>
            <div class="_pendo-poll-question-prompt-neutral_">What is one thing we could do differently to improve the experience?</div>
            <div class="_pendo-poll-question-prompt-promoter_">Mind sharing the main reason for your score?</div>
            <textarea placeholder="Optional" maxlength="1000"></textarea>
        </div>
    
        <button type="button" class="_pendo-poll-submit_">Submit</button>
    
        <% if (template.enableSuccessMessage) { %>
        <div class="_pendo-poll-message_">
            Thanks for your response!
        </div>
        <% } %>
    </div>
    